/* #343c97 */

.dashboard-layout{
	max-width: 2000px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #343c97;
	overflow: hidden;
}

.dash-content{
	width: 100vw;
	min-height: 100vh;
	position: relative;
}


.dash-nav {
	width: 25vw;
	height: 100%;
	background: #343c97;
	border-right: 3px solid white;
	position: fixed;
	top: 0;
	z-index: 1;
	left: -25vw;
	transition: left 0.5s ease-in;
}
  
.dash-nav.active {
	left: 0; 
}
  
.dash-nav.hide {
	left: -25vw; 
}

.dash-nav-element{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 70%;
	padding: 30px;
	margin: 0 auto;
	color: wheat;
}

.dash-nav-header{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



.dash-nav-header h1:nth-child(1){
	font-size: 14px;
}

.dash-nav-header h1:nth-child(2){
	font-size: 14px;
}


.dash-nav-body{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.nav-link{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 20px;
}

.nav-link:hover{
	transition: .3s ease-in-out;
	scale: 1.3;
}

.dash-item-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6vh;
	background: #343c97;
	box-shadow: 0 2px 70px #6f75bb;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 20px;
	z-index: 0;
	padding-left: 20px;
}


.nav-icon-btn{
	height: 100%;
	font-size: 45px;
	transition: .3s ease-in-out;
}

.nav-icon-btn:hover .nav-icon{
	scale: .8;
}

.dash-item{
	width: 100%;
	height: 100%;
}

.dash-item-content{
	margin-top: 6vh;
	width: 100%;
}

@media screen and (max-width:450px) {
	.dash-nav {
		width: 75vw;
		height: 100%;
		background: #343c97;
		border-right: 3px solid white;
		position: fixed;
		top: 0;
		z-index: 1;
		left: -75vw;
		transition: left 0.5s ease-in;
	}

	.dash-nav.active {
		left: 0; 
	}

	.dash-nav.hide {
		left: -75vw; 
	}

}