.schedule-container{
    width: 100%;
    margin: 10vh auto;
}

.page-element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 10px auto;
}

.page-element h1{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.page-element button{
    padding: 4px 39px;
    border-radius: 93px;
    color: white;
    background: transparent;
    border: 2px solid white;
    font-size: 15px;
    font-weight: 700;
}


.table-wrapper{
    max-width: 1300px;
    margin: 10px auto;
}


.fl-table{
    font-size: 15px;
    border: none;
    width: 100%;
    max-width: 100%;
    box-shadow: 5px 5px 5px rgba( 0, 0, 0, 0.9 );
}



.fl-table thead th {
    padding: 8px;
    color: black;
    background: rgb(196, 194, 191);
    border-bottom: 2px solid #fff;
}


.fl-table thead th:nth-child(odd) {
    color: #fff;
    background: none;
}

.fl-table tr:nth-child(even) {
    color: black;
    background: #fff;
}


.fl-table tbody tr:nth-child(odd){
    font-weight: 600;
    color: white;
    text-align: left;
}

.fl-table tbody tr:nth-child(even){
    font-weight: 600;
    color: black;
    text-align: left;
    background: rgb(196, 194, 191);
}

.fl-table tbody tr td{
    padding: 10px;
    text-align: center;
}


@media screen and (max-width: 780px) {
    .table-wrapper{
        width: 95%;
        overflow-x: auto;
    }

    .fl-table{
        min-width: 700px;
    }
}



/* modals design */

.modal-container{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4));
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
    opacity: 0;
    z-index: -10;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.modal-container.modalshow{
    opacity: 1;
    z-index: 10;
}

.modal-container.modalhide{
    opacity: 0;
    z-index: -10;
}

.modal-content{
    width: 520px;
    padding: 10px;
    border-radius: 5px;
    background: rgb(196, 194, 191);
}

.hide-modal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}

.hide-modal button{
    font-size: 15px;
    font-weight: 900;
}


.specialties-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 15px;
    width: 100%;
    height: auto;
    padding: 10px;
}

.text-input{
    width: fit-content;
    padding: 10px 15px;
}


.file-input{
    width: fit-content;
    background: #343c97;
    color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.file-input::file-selector-button {
    border: none;
    width: 100%;
    padding: 6px 18px;
    background-color: #343c97;
    transition: 1s;
    color: white;
  }

.submit-btn{
    width: fit-content;
    background: #343c97;
    color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 24px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 5px 5px #343c97;
}