.nav-holder{
    height: 10vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #343c97;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.nav-content{
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.nav-tag{
    font-size: 35px;
    line-height: 35px;
    font-weight: 900;
    font-family: "Caveat", cursive;
    color: white;
    position: relative;
}


.nav-tag::after{
    content: '';
    position: absolute;
    background: #fff;
    left: 0;
    bottom: -6px;
    width: 40px;
    border-radius: 4px;
    height: 5px;
    animation: nav-tag-animation 2s infinite  ease-in;
}

@keyframes nav-tag-animation {
    0%{
        left: 0;
    }50%{
        left: calc(100% - 40px);
    }
    100%{
        left: 0;
    }
}

.nav-item{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.link{
    color: white;
    font-size:   18px;
    line-height: 18px;
}

.home-btn{
    font-size: 25px !important;
    
}

.link:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.nav-btn-icon{
    display: none;
}


.logout-btn{
    font-size: 16px;
    font-weight: 600;
    background: white;
    padding: 2px 9px;
    border-radius: 3px;
    box-shadow: 0px 2px 7px black;
}


.logout-btn:hover{
    transition: .3s ease-in-out;
    scale: 1.1;
}



@media screen and (max-width:750px) {
    .nav-content{
        padding: 0 15px;
        height: 8vh;
    }
    .nav-btn-icon{
        display: block;
        font-size: 35px;
        color: white;
        font-weight: 600;
    }
    .nav-tag{
        font-size: 25px;
    }
    .nav-item{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #343c97;
        width: 65%;
        height: 100vh;
        top: 10vh;
        border-top: 4px solid white;
        transition: left 1s;
        gap: 25px;
    }

    .link{
        color: white;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        padding: 0 20px;
    }
    
    
    .show {
        animation: show-navbar 1s forwards;
    }
    
    @keyframes show-navbar {
        from {
            left: -1000%;
        }
        to {
            left: 0%;
        }
    }
    
    .hide {
        animation: hide-navbar 2s forwards;
    }
    
    @keyframes hide-navbar {
        from {
            left: 0%;
        }
        to {
            left: -1000%;
        }
    }

}