.course-page{
    width: 100%;
    min-height: 90vh;
    background: #efefef;
}

.course-content{
    max-width: 1300px;
    margin: 0 auto;
}

.course-content h1{
    text-align: center;
    color: #000;
    font-size: 25px;
    padding: 30px 0;
    font-weight: 600;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
    padding: 20px 100px;
}

.course{
    width: 320px;
    height: 380px;
    border-radius: 7px;
    background: #fff;
    position: relative;
    filter: drop-shadow(0 10px 0.65rem gray);
}

.course-image{
    object-fit: cover;
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.course-button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0;
}


.cb-link1{
    flex: 1;
    border-radius: 4px;
    color: white;
    background: #343c97;
    padding: 5px 30px;
    border: 2px solid #343c97;
    text-align: center;
}

.cb-link2{
    flex: 1;
    border-radius: 4px;
    background: transparent;
    border: 2px solid #000;
    color: #000;
    padding: 5px 30px;
    text-align: center;
}

.course-detail p{
    font-size: 20px;
    margin-left: 20px;
    color: #000;
}

@media screen and (max-width:450px) {
    .course-page{
        padding: 10px;
    }
    .courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        padding: 20px 0;
    }
    .course{
        width: 95%;
        margin: 0px auto;
        height: 380px;
        border-radius: 7px;
        background: #fff;
        position: relative;
    }
    
}